body {
  background-color : #666;
  background-image : url('../img/stripes.png');
  padding-top      : 4em;
  overflow-y       : scroll;
}

#logo {
  position         : absolute;
  z-index          : 10;
  top              : 1em;
  left             : 58em;
  display          : none;
}

